<div id="app">
  <navbar></navbar>
  <!--<timepicker-component></timepicker-component>-->
  <div class="container">
    <router-view></router-view>
  </div>
</div>

<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<%= javascript_pack_tag 'todo' %>
